# Build Artifacts
dist/
build/

# Compiled Python Files
*.pyc
pycache/
__pycache__

# Virtual Environment
votingenv/
*.env

# Editor and IDE files
.vscode/

# Miscellaneous
.DS_Store
*.egg-info/

# Datebase
db.sqlite3